@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #fff;
  background-color: #503000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #503000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.9rem;
}

*::-webkit-scrollbar-track {
  background: #fff4e3;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #834f00;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #724400;
}

.loader {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #503000) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: loading 1s infinite steps(10);
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.active {
  color: #ffc772;
  border-bottom: 2px solid;
}
