@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #fff;
  background-color: #503000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #503000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.9rem;
}

*::-webkit-scrollbar-track {
  background: #fff4e3;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #834f00;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #724400;
}

.loader {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #503000) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: loading 1s infinite steps(10);
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.active {
  color: #ffc772;
  border-bottom: 2px solid;
}

/* ---------- REACT CALENDAR ---------- */

.react-calendar {
  max-width: 42rem;
  width: 100%;
  background-color: #fff4e3;
  border-radius: 9px;
  overflow: hidden;
  line-height: 1.25rem;
}

.react-calendar__navigation {
  display: flex;
  height: 2.75rem;
  margin-bottom: 1rem;
  padding: 1rem 0 0.5rem;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__arrow {
  font-size: 3rem;
}

.react-calendar__navigation__label {
  pointer-events: none;
  font-weight: 600;
}

.react-calendar__navigation__label:focus {
  border: 1px solid currentColor;
}

.react-calendar__navigation button {
  min-width: 2.75rem;
  outline: none;
}

.react-calendar__navigation__prev-button {
  margin-left: 1.5rem;
}

.react-calendar__navigation__next-button {
  margin-right: 1.5rem;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  transition: all 0.3s ease-in-out;
}

.react-calendar__navigation__prev-button:focus,
.react-calendar__navigation__next-button:focus {
  transform: scale(1.2);
}

.react-calendar__navigation button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__viewContainer {
  padding: 0 15px 15px 15px;
}

.react-calendar__month-view__days {
  gap: 5px;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__month-view__days__day--weekend {
  color: #b30000;
  font-weight: 600;
}

.react-calendar__tile {
  padding: 20px 0;
  background-color: #ffe9c8;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
}

.react-calendar__tile:focus {
  outline: none;
  box-shadow: inset 0px 0px 6px currentColor;
}

@media screen and (max-width: 75em) {
  .react-calendar__viewContainer {
    padding: 0 8px;
  }
}

@media screen and (max-width: 59em) {
  .react-calendar__viewContainer {
    padding: 0 15px 15px 15px;
  }
}

@media screen and (max-width: 44em) {
  .react-calendar__viewContainer {
    padding: 0 15px 15px 15px;
  }
  .react-calendar__tile {
    padding: 15px 7px;
  }
}

@media screen and (max-width: 34em) {
  .react-calendar__tile {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 27.5em) {
  .react-calendar__viewContainer {
    padding: 0 5px 5px 5px;
  }
}

.react-calendar__tile:hover {
  background-color: #ffc772;
}

.react-calendar__tile:disabled {
  background-color: #e7e5e4;
  color: currentColor;
  font-weight: 400;
  cursor: not-allowed;
  position: relative;
}

.react-calendar__tile:disabled::before {
  content: "X";
  color: #b30000;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0.3;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background-color: transparent;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover {
  background-color: #51c0c8;
  color: #222;
  font-weight: 700;
}

/* ---------- REACT CALENDAR ---------- */

/* RESERVATION INFO */

.reservation__info {
  font-size: 0.875rem;

  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #503000;

  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #503000;

  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* RESERVATION INFO */

.bg-accent.text-btntext:disabled:hover {
  background-color: #51c0c8;
}
